<h2>Show</h2>

<ul>
  Title
  <li data-id='<%= post.escape("id") %>' id='title'><%= post.escape("title") %></li><br>
  Body
  <li data-id='<%= post.escape("id") %>' id='body'><%= post.escape("body") %></li>
</ul>

<a href="#/">Back to Index</a>